@use "./base.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}

p {
  text-wrap: pretty;
}

.page-title {
  font-size: calc(clamp(0.5rem, 4vw, 1.75rem));
}

.search-button.hidden {
  visibility: hidden;
}

.darkmode {
  view-transition-name: darkButton;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

::view-transition-old(darkButton),
::view-transitition-new(darkButton) {
  animation: none
}

::view-transition-old(darkButton) {
  transition: transform 0.5s;
  transform-origin: center 200%;

  @starting-style {
    transform: rotate(0)
  }

  transform: rotate(-90deg);
}

::view-transition-new(darkButton) {
  transition: transform 0.5s;
  transform-origin: center 200%;

  @starting-style {
    transform: rotate(90deg)
  }

  transform: rotate(0);
}

html[saved-theme="dark"] .darkmode svg {
  fill: #fdf6e3;
}
