@use "./base.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance
}

p {
  text-wrap: pretty;
}

.page-title {
  font-size: calc(clamp(0.5rem, 4vw, 1.75rem));
}

.search.hidden {
  display: none;
}

.search:not(.hidden) {
  view-transition-name: search;
}

.search-bar.active {
  view-transition-name: search;
}
